:root {
  --branding-color: #2772db;
  --secondary-color: #c7f3ff;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

h1,
h2 {
  color: #01005e;
  font-family: "Mystery Quest", serif;
}

h1 {
  font-size: 96px;
}

.hero p {
  font-family: "Poppins", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #283149;
}

.hero h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
